#Configuration info
[ProjectInfo]
    Project = 20761

[OemCommonCapbility]
    FlashFightSupport = true
    needReduceCaptureBuffer = true

[FeatureCommon]
    ExifComment = oplus_
    enableProfessionalExifInfo = true
    SwitchSodTrack = true
    #              [camId][Pkg]           Flip      Orientation
    OrientationInfo[1][com.android.mms] = 1;        270;
    enableWatermark = true
    enableUseNewArcsoftToMTK = true
    forceSkipStereoWarning = true
    SkipFrontPreviewFB = true
    enableSuperNightWithManualAe = true
    CameraMuteSkipFrameNum = 2
    IsSkipFrameNum = true
    enableHdr = false
    enableAeSyncCustomFlag = 1;    #EVEN
    enableHRsuperphoto = false

[PerformanceCommon]
    #LimitSuperCpu =  1; 4
    NeedSkipFd = 0x8001; 0x8009; 0x8011; 0x800B; 0x8026 # 0xF0FF(CapModeMask) To Force Enable
    OrmsSkipByCallerPackageNames = com.google.android.youtube
    BoostCaptureTimeoutValue = -1
    DisableCameraOpt = true
    EnableAppStreamUX = true
    Enable3AThreadUX = true
    EnableP2StreamUX = true
    NeedSkipFillSmartPool = true
    SkipSnapShotImpPrf = true
    EnableTPIUX = true
    EnableN3DUX = true
    EnableOCCNUX = true
    PortaitDropCache = true
    EnableMultiFrameUX = true
    EnableCfpUX = true
    DisableCaptureAIScene = true

[ContinueShootImprove]
    Inimproveshot = true

[FeatureLsdConfig]
    LsdEnable = false

[FeaturePfConfig]
    DisableDenoiseFlag = true

[FeatureSWNRConfig]
    RunSync = false

[TuningCommon]
    #AwbSkipFrame[m_u4SensorMode][m_eSensorDev] = SkipFrames
    AwbSkipFrame[3][1] = 3
    #ParamNvramIdx use MainSecond AwbParam
    MainSecondAwbParamNvramIdx = 6; 7; 8; 9
    Switch = true

[FeatureOplusSuperEis] #done
    Switch = false
    Qcount = 30

[FeatureAiVideoEnhance] #done
    SwitchOplusVhdr = false

[FeatureHfpsSupport]
    SwitchOplusHfps = true

[FeatureVideoNight] #done
    Switch = false

[TuningAeSceneMode]
    #                on(1)/off(0)    camId(-1 represents all sensors)
    Switch3rd[0]  =  1;              -1
    #           CapMode    SceneMode    camId(-1 represents all sensors)
    Mode[0] =   0x8009;     PARTY;      -1
    Mode[1] =   0x8007;     SPORTS;     -1
    Mode[2] =   0x80A3;     SPORTS;     -1
    Mode[3] =   0x80A4;     SPORTS;     -1
    Mode[4] =   0x802C;     SUNSET;     -1
    Mode[5] =   0x80A5;     SUNSET;     -1

[TuningUseCustomHDR10] #doing
    #           CapMode
    Mode[0] =   0x80A7  #StreamConfigCapModeVideoNight
    Mode[1] =   0x8028  #StreamConfigCapModeVideoSuperEis
    Mode[2] =   0x8009  #StreamConfigCapModeProfessional

[TuningSupernightMode] #done
    #           sensorId    handheld_ae_params[12]                                                         face_ae_params[12]                                                             tripod_ae_params[2]
    Mode[0]  =  0x5664;     100000; 100000;  80000;  60000; 40000; 30000; 200; 150; 150; 100; 100; 64;     100000; 100000;  80000;  60000; 40000; 30000; 200; 150; 150; 100; 100; 64;     5000000; 16 # OV64B_SENSOR_ID
    Mode[0]  =  0x564842;   160000; 160000; 140000; 140000;120000;100000; 200; 150; 150; 100; 100; 64;     160000; 160000; 140000; 140000;120000;100000; 200; 150; 150; 100; 100; 64;     5000000; 16 # OV48B_SENSOR_ID
    Mode[0]  =  0x563241;   120000; 120000; 120000; 100000; 80000; 60000; 200; 150; 150; 100; 100; 64;     120000; 120000; 120000; 100000; 80000; 60000; 200; 150; 150; 100; 100; 64;     5000000; 16 # OV32A_SENSOR_ID
    Mode[1]  =  0x0846;     200000; 160000; 140000; 120000;100000;800000; 200; 150; 150; 100; 100; 64;     200000; 160000; 140000; 120000;100000;800000; 200; 150; 150; 100; 100; 64;     5000000; 16 # HI846_SENSOR_ID

[FpsGoGroupSetting] #done
    #                  index
    Mode[0] =  0;  0x02020000;   1;        0x02040100;  5;        0x02004100;   1;    -1;        -1; -1;        -1; -1;        -1   # 1,5
    Mode[1] =  1;  0x00404100;   1176000;  0x03008200;  98;               -1;   1;    -1;        -1; -1;        -1; -1;        -1   # 1,3
    Mode[2] =  3;  0x00404000;   1287000;  0x00404100;  1048000;  0x03008200;  83;    -1;        -1; -1;        -1; -1;        -1   # 1,10
    Mode[3]=   3;  0x00414000;   1;        -1;          -1;       -1;           -1;   -1;        -1; -1;        -1; -1;        -1   # PERF_MODE

[FpsGoEnterCameraSetting] #done
    #                                     FpsGoGroup
    default[0]                         =     3

[FpsGoCustomFpsSetting] #done
    #Mode            remove_mode   fps      systemcamera   ceiling    loadAdjCnt
    #Mode[0]      =     0x8028;     -1;          1;            15;            3

[FpsGoNeonVideoSetting] #done
    #Mode            makeupState   ceiling    loadAdjCnt   FpsGoGroup
    #Mode[0]      =       1;          1;        6;          -1
    #Mode[1]      =       3;          1;        6;          -1


[FpsGoSysCameraSetting] #done
    #operation mode       operation_mode    fps    ceiling    loadAdjCnt  FpsGoGroup
    #Mode[0]         =     0x8028;           -1;       1;         3;        -1        #StreamConfigCapModeVideoSuperEis
    #Mode[1]         =     0x8001;           -1;       1;         5;        -1        #StreamConfigCapModeCommon

[FpsGoSpecialAppSetting]
    #                                       ceiling   loadAdjCnt  FpsGoGroup camera id    width    height
    com.snapchat.android[0]            =      1;         10;         -1;        -1;        -1;      -1
    com.android.incallui[0]            =      1;         10;         -1;        -1;        -1;      -1
    com.zhiliaoapp.musically[0]        =      1;         10;         -1;        -1;        -1;      -1
    com.facebook.katana[0]             =      1;         10;         -1;        -1;        -1;      -1
    com.whatsapp[0]                    =      1;         10;         -1;        -1;        -1;      -1
    com.instagram.android[0]           =      1;         10;         -1;        -1;        -1;      -1
    com.google.android.youtube[0]      =      1;         10;         -1;        -1;        -1;      -1
    com.eg.android.AlipayGphone[0]     =      1;         10;         -1;        -1;        1280;    -1
    com.smile.gifmaker[0]              =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.mobileqq[0]            =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.ig[0]                  =      1;         10;         -1;        -1;        1280;    -1
    com.tencent.mm[0]                  =      1;         10;         -1;        -1;        1280;    -1

[FpsGoSpecialActivityApp]
    #                                                                       ceiling   loadAdjCnt FpsGoGroup camera id    width    height
    com.tencent.mm.plugin.scanner.ui.BaseScanUI[0]                      =      1;         11;        -1;       -1;       -1;      -1
    com.tencent.aelight.camera.aebase.QIMCameraCaptureActivity[0]       =      1;         12;        -1;       -1;       -1;      -1
    com.tencent.mm.plugin.voip.ui.VideoActivity[0]                      =      1;         13;        -1;       -1;       -1;      -1

[EnabledsdnHint] #done
    #operation mode       operation_mode    openId
    Mode[0]         =     0x8021;           -1

[SuperNightCaptureNoPreview]
    #operation mode     operation_mode     SENSOR_ID
    Mode[0]         =     0x8019;            0x0615

#[FeatureVideoFDPeriodConfig] #done
    #operation mode     operation_mode     value
    #Mode[0]         =     -1;               66   #default value
    #Mode[1]         =     0x8028;           100

[FeatureCloseColorSensorInfo] #done 20391 没有这个逻辑
    #           SensorDev
    SensorDev[0] =   0x02  #front camera
    SensorDev[1] =   0x08  #macro camera

[AIAWBfpsConfig] #done 无调用
    #operation mode     operation_mode     value
    Mode[0]         =     0x8028;           5   #StreamConfigCapModeVideoSuperEis

[AI3AForceOffConfig] #done 20391 没有这个逻辑
    #operation mode     operation_mode     is3rdCam
    Mode[0]         =     0x802C;           1   #StreamConfigCapModePIPScene

[AppMapFastLaunchRequestNum] #done
    android                 = 4
    com.whatsapp            = 4
    com.tencent.mm          = 4
    client.pid              = 4

[OperationModeMapFastLaunchRequestNum] #done
    #operation mode       operation_mode    RequestNum
    #Mode[0]         =     0x8009;           0               #StreamConfigCapModeProfessional
    Mode[1]         =     0x80a4;           0               #StreamConfigCapModeFilmVideoEis
    Mode[2]         =     0x80a3;           0               #StreamConfigCapModeFilmVideo

[ChangeFpsRangeWhenMakeup] #done
    #operation mode       operation_mode    fpsMin      fpsMax

[ChangeFpsRangeByName] #done
    # key  CallerPackageName or ActivityName                                openId       fpsMin       fpsMax
    com.whatsapp.voipcalling.VoipActivityV2                                   =  1;           5;          24
    com.zipow.videobox.ConfActivityNormal                                     = -1;           5;          15
    com.imo.android.imoim                                                     = -1;           5;          24
    com.google.android.apps.tachyon.call.oneonone.ui.OneOnOneCallActivity     = -1;           5;          24

[OrmsOperationModeMap] #done
    #[openid][operationmode] orms action
    #!!!Attention: operationmode must use lowercase and forbid end-line comments!!!
    Mode[-1][0x8001]    =    ORMS_ACTION_CAMERA_FPSGO_OFF_TEMP_6889

[OrmsWechatVideoCallConfig] #doing
    packageName = com.tencent.mm
    #[openid][SMALL_WINDOW:1,FULL_WINDOW:0] orms action
    #!!!Attention:forbid end-line comments!!!
    Mode[-1][0] = ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsActivityNameConfigMap] #done
    # key  pkgName                                                        orms action <=1280                 orms action >1280
    com.tencent.mm.plugin.voip.ui.VideoActivity                       =  ORMS_ACTION_3RD_CAM_VIDEO_CALL;     ORMS_ACTION_3RD_CAM_VIDEO_CALL
    com.whatsapp.voipcalling.VoipActivityV2                           =  ORMS_ACTION_3RD_CAM_VIDEO_CALL;     ORMS_ACTION_3RD_CAM_VIDEO_CALL
    com.snap.mushroom.MainActivity                                    =  ORMS_ACTION_3RD_CAM_VIDEO_CALL;     ORMS_ACTION_3RD_CAM_VIDEO_CALL
    com.google.android.libraries.youtube.edit.gallery.GalleryActivity =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER; ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsCallerPackageNameNameConfigMap] #done
    # key  pkgName                                      orms action <=1280                orms action >1280
    com.google.android.youtube                       =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsPackageNameConfigMap] #done
    # key  pkgName                      orms action <=1280                orms action >1280
    com.ss.android.ugc.aweme    =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.snapchat.android        =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.android.incallui        =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.zhiliaoapp.musically    =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.facebook.katana         =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.whatsapp                =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.instagram.android       =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.google.android.youtube  =  ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.smile.gifmaker          =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mm              =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.ig              =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.tencent.mobileqq        =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.microblink.photomath    =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.picsart.studio          =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    nic.goi.aarogyasetu         =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF
    com.kwai.video              =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_HIGHPERF

[DisEnabledFSC] #doing
    packageName[0]=com.google.android.youtube

[EepromDataStyle] #done
    RStyle = true
    defaultModule = false

[ModuleShowInfoMap] #done
    #                    sensorID        sensorName     sensorVersion
    sensorIdx[0]  =      0x5664;         OV64B;         0.91
    sensorIdx[1]  =    0x563241;         OV32A;         0.91
    sensorIdx[2]  =      0x0846;         HI846;         0.91
    sensorIdx[3]  =      0x002b;       OV02B10;         0.91

[None4CellCamSensorSettingMap]
    #key        sensorId    ThirdOpMode    IsCtsTest    IsUnlock    YUVsize    aspectRatio    scenarioId
    Mode[0] =   0;          1;             -1;          -1;          -1;         -1;           4   #
    Mode[1] =   0;         -1;              1;          -1;          -1;         -1;           1   #
    Mode[2] =   0;         -1;             -1;          -1;          1280;       -1;           9   #
    Mode[3] =   0;         -1;             -1;          -1;          -1;        570;           0   #
    Mode[4] =   0;         -1;             -1;          -1;          -1;         -1;           2   #
    Mode[5] =   1;         -1;              1;           1;          -1;         -1;           0   #
    Mode[6] =   1;         -1;             -1;          -1;          1280;       -1;           9   #
    Mode[7] =   1;         -1;             -1;          -1;          -1;        570;           0   #
    Mode[8] =   1;         -1;             -1;          -1;          -1;         -1;           8   #

[ThirdCamSensorSettingMap]
    # key     pkgName                                        camId       video     thirdOpMode  imageRation     yuvSizeW         yuvSize   scenarioId
    android.camera.cts[0]                       =             0;          -1;           1;           -1;            -1;            -1;          1    #
    android.camera.cts[1]                       =             1;          -1;           1;           -1;            -1;            -1;          0    #
    com.whatsapp[0]                             =             0;          -1;           1;           -1;            -1;            -1;          1    #
    com.whatsapp[1]                             =             1;          -1;           1;           -1;            -1;            -1;          1    #
    com.snapchat.android[0]                     =             0;          -1;          -1;           -1;            -1;            -1;          1    #
    com.snapchat.android[1]                     =             1;          -1;          -1;           -1;            -1;            -1;          1    #
    com.alibaba.android.rimet[0]                =             0;          -1;           1;           -1;            -1;            -1;          0    #
    com.tencent.mm[0]                           =             0;          -1;           1;           -1;            -1;            -1;          0    #
    com.tencent.mm[1]                           =             1;          -1;           1;           -1;            -1;            -1;          1    #
    com.facebook.katana[0]                      =             0;          -1;          -1;           -1;            -1;            -1;          1    #
    com.facebook.katana[1]                      =             1;          -1;          -1;           -1;            -1;            -1;          1    #
    com.facebook.orca[0]                        =             0;          -1;          -1;           -1;            -1;            -1;          0    #
    com.facebook.orca[1]                        =             1;          -1;          -1;           -1;            -1;            -1;          1    #
    com.tencent.mobileqq[0]                     =             0;          -1;           1;           -1;            -1;            -1;          0    #
    com.tencent.mobileqq[1]                     =             1;          -1;           1;           -1;            -1;            -1;          1    #
    com.instagram.android[0]                    =             0;          -1;          -1;           -1;            -1;            -1;          1    #
    com.instagram.android[1]                    =             1;          -1;          -1;           -1;            -1;            -1;          1    #
    com.ss.android.ugc.trill[0]                 =             0;          -1;          -1;           -1;            -1;            -1;          0    #
    com.ss.android.ugc.trill[1]                 =             1;          -1;          -1;           -1;            -1;            -1;          0    #
    com.zhiliaoapp.musically[0]                 =             0;          -1;          -1;           -1;            -1;            -1;          0    #
    com.zhiliaoapp.musically[1]                 =             1;          -1;          -1;           -1;            -1;            -1;          0    #
    com.google.android.apps.tachyon[0]          =             0;          -1;          -1;           -1;            -1;            -1;          0    #
    com.google.android.apps.tachyon[1]          =             1;          -1;          -1;           -1;            -1;            -1;          0    #
    autotest.oppo.com.simulatedlivebroadcast[0] =             0;          -1;          -1;           -1;            -1;            -1;          0    #
    com.google.android.apps.messaging[0]        =             0;          -1;          -1;           -1;            -1;            -1;          0    #
    AllCamApp[0]                                =             0;          -1;           1;           -1;            -1;            -1;          0    #
    AllCamApp[1]                                =             0;          -1;           1;           -1;            -1;            -1;          0    #
    AllCamApp[2]                                =             0;          -1;           1;           -1;            -1;            -1;          0    #
    AllCamApp[3]                                =             0;          -1;           1;           -1;            -1;            -1;          0    #
    AllCamApp[4]                                =             1;          -1;           1;           -1;            -1;            -1;          0    #
    AllCamApp[5]                                =             1;          -1;           1;           -1;            -1;            -1;          0    #
    AllCamApp[6]                                =             1;          -1;           1;           -1;            -1;            -1;          0    #
    AllCamApp[7]                                =             1;          -1;           1;           -1;            -1;            -1;          0    #
    com.google.android.googlequicksearchbox[0]  =             0;          -1;          -1;           -1;            -1;            -1;          0    #
    jp.naver.linecamera.android[0]              =             0;          -1;           1;           -1;            -1;            -1;          0    #
    jp.naver.linecamera.android[1]              =             1;          -1;          -1;           -1;            -1;            -1;          0    #
    jp.naver.line.android[0]                    =             0;          -1;          -1;           -1;            -1;            -1;          0    #
    jp.naver.line.android[1]                    =             1;          -1;          -1;           -1;            -1;            -1;          0    #
    com.meitu.wheecam[0]                        =             0;          -1;           1;           -1;            -1;            -1;          0    #
    com.meitu.wheecam[1]                        =             1;          -1;          -1;          570;            -1;            -1;          1    #
    com.gorgeous.liteinternational[0]           =             0;          -1;           1;           -1;            -1;            -1;          0    #
    com.gorgeous.liteinternational[1]           =             1;          -1;          -1;          570;            -1;            -1;          1    #
    com.lazada.android[0]                       =             0;          -1;           1;           -1;            -1;            -1;          0    #
    com.lazada.android[1]                       =             1;          -1;          -1;           -1;            -1;          1280;          0    #

[ThirdCamSensorSettingMapByActivity]
    # key     ActivityName                                  camId       video     thirdOpMode  imageRation     yuvSizeW         yuvSize   scenarioId
    com.instagram.rtc.activity.RtcCallActivity[0]    =        1;          -1;          -1;           -1;            -1;            -1;          0    #
    com.whatsapp.voipcalling.VoipActivityV2[0]       =        1;          -1;          -1;           -1;            -1;            -1;          0    #
    com.snap.mushroom.MainActivity[0]                =        1;          -1;          -1;           -1;            -1;          1200;          0    #

[None4CellCustomizedSensorSetting]
    Switch = false;
    ActivityName = com.tencent.av.ui.AVActivity; com.tencent.wework.multitalk.controller.VoipCallActivity; com.tencent.mm.plugin.voip.ui.VideoActivity; com.ss.android.ugc.aweme.live.LiveBroadcastActivity; com.kuaishou.live.core.basic.activity.LivePushActivity; com.zipow.videobox.ConfActivityNormal;

[None4CellNormalPreviewSetting]
    PackageName = autotest.oplus.com.simulatedlivebroadcast; com.meitu.meiyancamera; com.mt.mtxx.mtxx; com.gorgeous.lite;
    SensorDev = 0x561641; 0x487B #0x0846; not for 20001

[None4CellNormalVideo]
    ScenRaw16Sensor = 0x561641
    ScenDefaultSensor = 0x0319
    FullSizeWidth = 4608

[None4CellSmvrSensorModeSetting]
    #key       SensorDevID   TargetSeninfo.h   scenarioId
    Mode[0] =  0x561641;        720;              8    #720P SMVR on ov16a10
    Mode[1] =  0x561641;        1080;             3    #1080P SMVR on ov16a10

[CommonSensorSettingMap] #main sensor 0v48
    # key     CapMode       camId     scenarioId
    #Mode[0] = 0x802A;          0;          4    #

[FeatureEISTypeMap] #done
    #VideoEisMode    operation_mode    open_id    feature_mask    isMTKEIS    isTPEIS
    Mode[0] =           0x800B;            0;         0;             1;          0      #normal video rear
    Mode[1] =           0x800B;            1;         0;             0;          0      #normal video front
    Mode[2] =           0x800B;            0;         1;             0;          0      #4k video
    Mode[3] =           0x8021;            0;         0;             0;          0      #60fps video
    Mode[4] =           0x8028;            0;         0;             1;          0      #super eis
    Mode[5] =           0x802B;            1;         0;             1;          0      #super eis front
    Mode[6] =           0x80A4;            0;         0;             1;          0      #film video eis
    Mode[7] =           0x80A4;            2;         0;             1;          0      #film wide video eis
    Mode[8] =           0x80A7;            0;         0;             1;          0      #videonight rear
    Mode[9] =           0x80A7;            1;         2;             1;          0      #videonight front + eis
    Mode[10] =          0x802C;            0;         3;             1;          0      #PIP video rear master

[FeatureEISDebug] #done
    supportMTKEIS = true
    supportTPEIS = true
    forceEis60FPS = false

[FeatureDSDNConfig] #done
    operationMode = 0x8001;0x8026;0x8019;0x800B;0x8028;0x80A7;0x800C;0x802C;
    DSDNenable = 1

[FeatureSMVRConfig] #done
    isNeedDropFrame = 0
    dropNum = 6
    isNeedSetProfile = false

[FeatureFaceBeautyConfig] #done NULL
    BeautyShotDelay = 500
    LoadLibDuringInit = true

[FeatureAiShutterConfig] #done NULL
    AisEnable          =             1
    #[openid][operationmode]    aishutter_enable
    Mode[0][0x8001]    =             1                  #REAR_StreamConfigCapModeCommon
    Mode[0][0x8004]    =             1                  #REAR_StreamConfigCapModeBeauty
    Mode[0][0x8005]    =             1                  #REAR_StreamConfigCapModeFilter
    Mode[0][0x8008]    =             1                  #REAR_StreamConfigCapModeSuperZoom
    Mode[1][0x8001]    =             1                  #FRONT_StreamConfigCapModeCommon
    Mode[1][0x8004]    =             1                  #FRONT_StreamConfigCapModeBeauty
    Mode[1][0x8005]    =             1                  #FRONT_StreamConfigCapModeFilter
    Mode[1][0x8008]    =             1                  #FRONT_StreamConfigCapModeSuperZoom

[FeatureystemCamRrzoConfig]
    #[isCalled][openId][operationMode][custom_tag]        width     height
    Mode[0][0][0x800B][1] =                               1920;     1080;
    Mode[0][0][0x8028][2] =                               2100;     1184;

[FeatureThirdPartyCamRrzoConfig]
    #key pkgName[openId]                              width     height   base_resolution    comment(1:not_less_than, 2:upscale, 3:not_larger_than)
    com.whatsapp[0]                  =                1920;     1080;        0;                3;
    com.whatsapp[1]                  =                1920;     1080;        0;                3;

[systemCamMappingEAppCustom] #done 6885
    #key                                EAppCustom
    fastVideo                     =     0;
    commonVideo                   =     11;
    panorama                      =     10;
    superNight                    =     -1;
    TimeLapse                     =     16;
    professional                  =     7;
    portrait                      =     20;
    ai_shutter                    =     33;
    default                       =     -1;
    common                        =     -1;
    VideoHDR                      =     32;
    VideoSuperEis                 =     35;
    PIPScene                      =     34;

[noSuperNightMappingWithSensorId] #done 6885
    #key                                EAppCustom    sensorId    isCheckFaceBeauty
    no_supernight[0]              =     8;            0x0615;     1;
    no_supernight[1]              =     8;            0x0616;     1;
    no_supernight[2]              =     18;           0x5664;     0;
    no_supernight[3]              =     18;           0x0355;     0;

[thirdPartyCamMappingEAppCustom] #done 6885
    #key                                EAppCustom
    EApp_MTKCam                   =     0;
    android                       =     25;
    0                             =     19;
    com.tencent.mobileqq          =     3;
    com.tencent.mm                =     4;
    jp.naver.line.android         =     2;
    raxes.starlocator             =     2;
    com.android.cts.verifier      =     30;

[capModePIPSceneSpecialSize] #done
    #key                                width   height
    size[0]                       =     960;    1080;
    size[1]                       =     640;    720;
    size[2]                       =     480;    272;
    size[3]                       =     368;    368;
    size[4]                       =     320;    184;
    size[5]                       =     240;    240;
    size[6]                       =     640;    368;
    size[7]                       =     464;    464;
    size[8]                       =     432;    240;
    size[9]                       =     320;    320;

[oplusCheckStreamFrontCam] #done
    #key                                openId     width    height
    config[0]                     =     1;         2304;    1728;
    config[1]                     =     9;         2304;    1728;

[camIdxMapType] #done
    #[srcIdx]                           camIdx    dstIdx
    index[0]                     =     1;        0;
    index[1]                     =     0x01;     0x01;           #SENSOR_DEV_MAIN-main
    index[2]                     =     0x02;     0x02;           #SENSOR_DEV_SUB-front
    index[3]                     =     0x04;     0x08;           #SENSOR_DEV_SUB_2-BackMacro
    index[4]                     =     0x08;     0x04;           #SENSOR_DEV_MAIN_2-wide

[subSensorName] #done
    #key                               substring
    subSensorList[0]              =    HI846;
    subSensorList[1]              =    GC8054;
    subSensorList[2]              =    IMX319;
    subSensorList[3]              =    OV48B;
    subSensorList[4]              =    OV64B;
    subSensorList[5]              =    IMX586;
    subSensorList[6]              =    S5KGW1;
    subSensorList[7]              =    OV16A;
    subSensorList[8]              =    S5K3M5;
    subSensorList[9]              =    bayerwide;
    subSensorList[10]             =    tricam;
    subSensorList[11]             =    IMX686;
    subSensorList[12]             =    S5KGW3;
    subSensorList[13]             =    S5KGM1ST;
    subSensorList[14]             =    OV8856;


[fullSensorName] #done
    #key                               fullstring
    fullstring                    =    SENSOR_DRVNAME_GM1ST_MIPI_RAW;

[sensorDataMap2AConfig] #done 6885
    #key             sensorId    af-flag  inf    100cm   50cm   mac    skip-4000k  H-U    H-G    M-U    M-G    L-U    L-G     startAddr  dataLength
    index[0]    =    0x5664;     1;       0x94;  0x94;   0x90;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[1]    =    0x0766;     1;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[2]    =    0x0616;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[3]    =    0x0615;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[4]    =    0xf615;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0;         0;
    index[5]    =    0x0319;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0x1500;    3441;
    index[6]    =    0x0355;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0x0CA0;    3441;
    index[7]    =    0xf355;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x20;  0x28;  0x32;  0x3A;  0x44;  0x4C;   0x0CA0;    3441;
    index[8]    =    0x002B;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x0E;  0x16;  0x0E;  0x16;  0x3A;  0x42;   0;         0;
    index[9]    =    0x0683;     1;       0x94;  0x98;   0x96;  0x92;     1;       0x10;  0x18;  0x22;  0x2A;  0x34;  0x3C;   0;         0;
    index[10]   =    0x20001;    0;       0x94;  0x94;   0x96;  0x92;     1;       0x10;  0x18;  0x22;  0x2A;  0x34;  0x3C;   0;         0;
    index[11]   =    0x0847;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x10;  0x18;  0x22;  0x2A;  0x34;  0x3C;   0x0CA0;    3441;
    index[12]   =    0x002C;     0;       0x94;  0x94;   0x96;  0x92;     1;       0x0E;  0x16;  0x24;  0x2C;  0x3A;  0x42;   0;         0;

[FeatureMsnrConfig]                      value #done
    com.facebook.katana              =     1;
    com.instagram.android            =     1;
    com.whatsapp                     =     1;
    com.facebook.orca                =     1;
    jp.naver.line.android            =     1;
    com.snapchat.android             =     1;
    com.jstudio.sweetselfiecam       =     1;

[CustomBokehMSGParam]
    bkMsgSwitch = true;
    #key               FaceWidthMax    FaceWidthMin    FocusDistanceMax    FocusDistanceMin    lvMaxThres    lvMinThres    lvSumThres    ISOThres
    CustomBkMsgValue = 2400;           250;            2000.0;             350.0;              25;           -25;          20;           4000;

[FeaturecloseProfessionTSF]
    SetOffTsf = false

[FeatureFlashConfig]
    bSetDuty = true

[FeatureForCameraSwitch]
    cameraSwitchBoost = true

[InitializeRequestMeta]
    Isrequestmeta = true

[OemCaptureBufferNumConfig]
    needReduceCaptureBufferNum = true
    needReduceCaptureBufferNumAttached = true

[ThirdPartyCustomConfig]
    linkedinisNotFlip = true

[FeatureAfterSale]
    NeedAfterSale = true

[FeatureDualBokehPreviewConfig]
    IsNeedSkipForLowMem = true
    SkipFrameNumberForLowmem = 30

[FeatureAsyncConfig]
    IsDisableASD = true
    ExpectMS = 66

[FeatureBokehShileldConfig]
    IsDisableBokehShileld = true

[FeatureCustomConfig]
    mfnrDisable = true
    disableFlashmfll = false

[UseFrontSensor] #done
     #key              substring
     sensorList[0]  =  evenhltfronts5k4h7;
     sensorList[1]  =  evenshengtaifrontov8856;

[FrontPreFlashConfig]
    frontPreFlash = true

[sensorStaticInfoConfig]
    mainSensor[0] = 0x560D45            # EVEN_QTECH_MAIN_OV13B10
    mainSensor[1] = 0xF8D4              # EVEN_QTECH_MAIN_S5KGM1ST03
    mainSensor[2] = 0x38E4              # EVEN_SHINETECH_MAIN_S5KJN103

[FeatureDualBokehCaptureConfig]
    BlurIntensityRatio = 1.6
